.titleDiv {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 100%;
}

.aboutPage {
  background-size: cover;
  color: #fff;
  height: 110%;
  width: 100%;
  position: absolute;
}

.members {
  justify-content: center;
}

.member {
  color: #5c5c60;
}

.totals {
  background-color: #5c5c60;
}

.bottom {
  position: absolute;
  align-items: flex-end;
}

.dataContainer {
  position: relative;
  width: 90%;
  height: 15vw;
  left: 5%;
  display: flex;
  flex-direction: row;
}

.dataTitle {
  background-color: white;
  color: #777;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.dataBlocks {
  flex: 3;
  display: flex;
  flex-direction: row;
  background-color: #aaa;
}

.dataSquare {
  flex-direction: column;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.gitSquare {
  flex-direction: column;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataImg {
  height: 100%;
  object-fit: contain;
}

.toolContainer {
  background-color: white;
  color: #777;
  position: relative;
  width: 90%;
  height: 25vw;
  left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toolTitle {
  flex: 1;
}

.toolBlocks {
  flex: 5;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.toolLine {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.toolSquare {
  flex: 1;
  display: flex;
  background-color: #aaa;
  color: white;
  align-items: center;
  justify-content: center;
}

.linkContainer {
  background-color: white;
  color: #777;
  position: relative;
  width: 90%;
  height: 15vw;
  left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linkTitle {
  flex: 1;
}

.linkBlocks {
  display: flex;
  flex-direction: row;
  flex: 2;
  height: 100%;
  justify-content: center;
}

.linkSquare {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aaa;
  height: 100%;
  width: 100%;
}

.linkSquare a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataSquare a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolSquare a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:visited,
a:active,
a:hover,
a:link {
  text-decoration: none;
  color: #fff;
}

.linkSquare a:hover,
.dataSquare a:hover,
.toolSquare a:hover {
  text-decoration: none;
  color: #fff;
  font-weight: 200;
}

.linkSquare:hover,
.dataSquare:hover,
.toolSquare:hover {
  background-color: #e4d550;
}

.aboutGrid p,
.aboutGrid a {
  font-size: 130%;
}
