body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.landingPageGrid {
  padding-top: 5%;
  position: relative;
  width: 80%;
  left: 10%;
}

.recipePage {
  width: 100%;
  height: 100%;
}

.recipeContent {
  width: 90%;
  position: absolute;
  left: 5%;
}

.line {
  width: 100%;
  height: 0.1vw;
}

.carousel-container {
  max-width: 100%;
  max-height: 50vw;
}

.homeImg {
  overflow: hidden;
}

.landingPage {
  display: flex;
  flex-direction: column;
}

.yellow {
  position: relative;
  background-color: #e4d550;
  width: 90%;
  height: 1vw;
  left: 5%;
}

.selectorBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-basis: min-content;
}

.selectorBar div {
  padding-left: 1%;
  padding-right: 1%;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 5vw;
  margin-left: 6%;
  align-items: center;
}

.slideDiv {
  display: flex;
  flex-direction: row;
}

.dropdown,
.newStyle,
.flex1,
.slideDiv {
  padding-left: 3%;
  padding-right: 3%;
}

.checks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-header {
  display: flex;
  flex-direction: column;
}

.modal-body {
  margin-left: 5%;
}

.highlight {
  background-color: #677078;
  color: #ffffff;
}

.card-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin: 0 5px 0 5px;
  padding: 0;
}

.location-image {
  height: 200px;
}

.centered {
  position: absolute;
  top: 25%;
  left: 40%;
}

.title {
  font-size: 500%;
  color: #7c9b8b;
}

.form-inline button,
.newStyle button,
.dropdown > a {
  color: white;
  background-color: #7c9b8b;
}

.form-inline button:hover,
.newStyle button:hover,
.dropdown a:hover {
  background-color: #4d705f;
  color: white;
}

.available {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.items {
  width: 30%;
}

.items a {
  width: 100%;
  height: 100%;
}

.items a:hover {
  background-color: #7c9b8b;
}
.recipePage a:hover {
  color: white;
}

.linkColor {
  color: grey;
}
