<!DOCTYPE html>
<html><head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"><meta charset="utf-8">
<style>
	.state{
		fill: none;
		stroke: #a9a9a9;
		stroke-width: 1;
	}
	.state:hover{
		fill-opacity:0.5;
	}
	#tooltip {   
		position: absolute;           
		text-align: center;
		padding: 20px;             
		margin: 10px;
		font: 12px sans-serif;        
		background: lightsteelblue;   
		border: 1px;      
		border-radius: 2px;           
		pointer-events: none;         
	}
	#tooltip h4{
		margin:0;
		font-size:14px;
	}
	#tooltip{
		background:rgba(0,0,0,0.9);
		border:1px solid grey;
		border-radius:5px;
		font-size:12px;
		width:auto;
		padding:4px;
		color:white;
		opacity:0;
	}
	#tooltip table{
		table-layout:fixed;
	}
	#tooltip tr td{
		padding:0;
		margin:0;
	}
	#tooltip tr td:nth-child(1){
		width:50px;
	}
	#tooltip tr td:nth-child(2){
		text-align:center;
	}
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<div class="container">
    <div class="row">
    <a class="text-left" href="https://unbeatable-food.com">return to Unbeatable-food</a>
    </div>
    <button onclick="draw_average_vote_from('missed_votes_percent')">Average Missed Votes Percent</button>
    <button onclick="draw_average_vote_from('votes_with_party_percent')">Average Vote Agaisnt Party Percent</button>
    <button onclick="draw_average_party()">Democrats and Republicans Per State</button>
</div>
<div id="tooltip"></div><!-- div to hold tooltip. -->
<div class="container">
<svg width="960" height="600" id="statesvg"></svg> <!-- svg to hold the map. -->
</div>
<script type="text/javascript" src="{{ url_for('static', filename='uStates.js') }}"></script>
<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
<script>

	function party_tool_tip(n, d){	/* function to create html content string in tooltip div. */
		return "<h4>"+n+"</h4><table>"+
			"<tr><td>Democrats</td><td>"+(d.democrats)+"</td></tr>"+
			"<tr><td>Republicans</td><td>"+(d.republicans)+"</td></tr>"+
			"</table>";
	}


    const colors = ['#ffff00', '#dd6a95', '#32CD32', '#cc5500', '#23679d', '#663399', '#ff0000'];


    function draw_average_party() {
        const states = {"HI":{'D':0,'R':0}, "AK":{'D':0,'R':0}, "FL":{'D':0,'R':0}, "SC":{'D':0,'R':0}, "GA":{'D':0,'R':0}, "AL":{'D':0,'R':0}, "NC":{'D':0,'R':0}, "TN":{'D':0,'R':0}, "RI":{'D':0,'R':0}, "CT":{'D':0,'R':0}, "MA":{'D':0,'R':0}, "ME":{'D':0,'R':0}, "NH":{'D':0,'R':0}, "VT":{'D':0,'R':0}, "NY":{'D':0,'R':0}, "NJ":{'D':0,'R':0}, "PA":{'D':0,'R':0}, "DE":{'D':0,'R':0}, "MD":{'D':0,'R':0}, "WV":{'D':0,'R':0}, "KY":{'D':0,'R':0}, "OH":{'D':0,'R':0}, "MI":{'D':0,'R':0}, "WY":{'D':0,'R':0},
        "MT":{'D':0,'R':0}, "ID":{'D':0,'R':0}, "WA":{'D':0,'R':0}, "DC":{'D':0,'R':0}, "TX":{'D':0,'R':0}, "CA":{'D':0,'R':0}, "AZ":{'D':0,'R':0}, "NV":{'D':0,'R':0}, "UT":{'D':0,'R':0}, "CO":{'D':0,'R':0}, "NM":{'D':0,'R':0}, "OR":{'D':0,'R':0}, "ND":{'D':0,'R':0}, "SD":{'D':0,'R':0}, "NE":{'D':0,'R':0}, "IA":{'D':0,'R':0}, "MS":{'D':0,'R':0}, "IN":{'D':0,'R':0}, "IL":{'D':0,'R':0}, "MN":{'D':0,'R':0}, "WI":{'D':0,'R':0}, "MO":{'D':0,'R':0}, "AR":{'D':0,'R':0}, "OK":{'D':0,'R':0}, "KS":{'D':0,'R':0},
        "LA":{'D':0,'R':0}, "VA":{'D':0,'R':0}};
        var sampleData = {}
        fetch('https://api.congressexposed.me/api/member_role?result_per_page=1103')
            .then(function(response) {
                return response.json();
            }).then(function(jsonResponse) {
                const congressmen = jsonResponse['objects'];
                congressmen.forEach(function(entry) {
                    const member_info = entry['attributes'];
                    const party = member_info['party']
                    const state = member_info['state']
                    if(states.hasOwnProperty(state) && 
                       states[state].hasOwnProperty(party)) {
                        states[state][party] = states[state][party]+1;
                    }
                });
                Object.keys(states).forEach(function(entry) {
                    var republicans = states[entry]['R'];
                    var democrats = states[entry]['D'];
                    sampleData[entry]={democrats:democrats, republicans:republicans, 
                      color:d3.interpolate("#ff0000", "#800026")((democrats + republicans)/(republicans+1))}; 
                });
                draw_map(sampleData, party_tool_tip)

            });
    }

    //draw_average_vote_from('missed_votes_percent');
    //draw_average_vote_from('votes_with_party_percent');

	function vote_tool_tip(n, d){	/* function to create html content string in tooltip div. */
		return "<h4>"+n+"</h4><table>"+
			"<tr><td>Vote percentage</td><td>"+(d.percent)+"</td></tr>"+
			"</table>";
	}

    function draw_average_vote_from(vote_percent) {
        const url = 'https://api.congressexposed.me/api/member?result_per_page=239&page=';
        const states = {"HI":{'sum':0,'N':0}, "AK":{'sum':0,'N':0}, "FL":{'sum':0,'N':0}, "SC":{'sum':0,'N':0}, "GA":{'sum':0,'N':0}, "AL":{'sum':0,'N':0}, "NC":{'sum':0,'N':0}, "TN":{'sum':0,'N':0}, "RI":{'sum':0,'N':0}, "CT":{'sum':0,'N':0}, "MA":{'sum':0,'N':0},
        "ME":{'sum':0,'N':0}, "NH":{'sum':0,'N':0}, "VT":{'sum':0,'N':0}, "NY":{'sum':0,'N':0}, "NJ":{'sum':0,'N':0}, "PA":{'sum':0,'N':0}, "DE":{'sum':0,'N':0}, "MD":{'sum':0,'N':0}, "WV":{'sum':0,'N':0}, "KY":{'sum':0,'N':0}, "OH":{'sum':0,'N':0}, 
        "MI":{'sum':0,'N':0}, "WY":{'sum':0,'N':0}, "MT":{'sum':0,'N':0}, "ID":{'sum':0,'N':0}, "WA":{'sum':0,'N':0}, "DC":{'sum':0,'N':0}, "TX":{'sum':0,'N':0}, "CA":{'sum':0,'N':0}, "AZ":{'sum':0,'N':0}, "NV":{'sum':0,'N':0}, "UT":{'sum':0,'N':0}, 
        "CO":{'sum':0,'N':0}, "NM":{'sum':0,'N':0}, "OR":{'sum':0,'N':0}, "ND":{'sum':0,'N':0}, "SD":{'sum':0,'N':0}, "NE":{'sum':0,'N':0}, "IA":{'sum':0,'N':0}, "MS":{'sum':0,'N':0}, "IN":{'sum':0,'N':0}, "IL":{'sum':0,'N':0}, "MN":{'sum':0,'N':0}, 
        "WI":{'sum':0,'N':0}, "MO":{'sum':0,'N':0}, "AR":{'sum':0,'N':0}, "OK":{'sum':0,'N':0}, "KS":{'sum':0,'N':0}, "LA":{'sum':0,'N':0}, "VA":{'sum':0,'N':0}}
        var sampleData = {}
        fetch('https://api.congressexposed.me/api/member_role?result_per_page=1103')
            .then(function(response) {
                return response.json();
            }).then(function(jsonResponse) {
                var min_percent = 100.0;
                var max_percent = 0.0;
                const congressmen = jsonResponse['objects'];
                congressmen.forEach(function(entry) {
                    const member_info = entry['attributes'];
                    const percent = member_info[vote_percent];
                    const state = member_info['state']
                    if(percent!=null && states.hasOwnProperty(state)) {
                        states[state]['N'] = states[state]['N']+1;
                        states[state]['sum'] = states[state]['sum']+percent;
                    }
                });
                Object.keys(states).forEach(function(entry) {
                    var state_info = states[entry];
                    var sum = state_info['sum'];
                    var N = state_info['N'];
                    var average = sum/N;
                    if(min_percent>average) {
                        min_percent = average;
                    }
                    if(max_percent<average) {
                        max_percent = average;
                    }
                });
                var color = colors[Math.floor(Math.random() * colors.length)];
                Object.keys(states).forEach(function(entry) {
                    var state_info = states[entry];
                    var sum = state_info['sum'];
                    var N = state_info['N'];
                    var average = sum/N;
                    var normalized_percent = (average-min_percent)/(max_percent-min_percent);
                    sampleData[entry]={percent:Math.round(average*100)/100, 
                      color:d3.interpolate("#ffffff", color)(normalized_percent)};
                });
                draw_map(sampleData, vote_tool_tip)

            });

    }



    function draw_map(sampleData, tooltipHtml) {
            uStates.draw("#statesvg", sampleData, tooltipHtml);
            d3.select(self.frameElement).style("height", "600px"); 
    }
	
</script>

