.crop {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 400px;
}
.crop img {
  object-fit: cover;
  position: absolute;
  /* make the right side squared and override the bootstrap rounding */
  border-top-right-radius: 200px 0% !important;
  border-bottom-right-radius: 0px 0% !important;
  left: 50%;
  top: 50%;
  height: 100%;
  min-width: 100%; /* Scale up to fill container width */
  min-height: 100%; /* Scale up to fill container height */
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.crop img.portrait {
  width: 100%;
  height: auto;
}
