.nutritionTitle {
  width: 100%;
  color: white;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.attributeLine {
  position: relative;
  width: 70%;
  left: 15%;
  height: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.attImg {
  height: 100%;
  object-fit: contain;
}

a:visited,
a:active,
a:hover,
a:link {
  text-decoration: none;
  color: #fff;
}

.foodin:hover {
  background-color: blue;
  text-decoration: none;
  color: #fff;
}

.foodin {
  width: 25%;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nutrition-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 1%;
}

.nutrition-label {
  padding: 1%;
  width: 25%;
}

.blue {
  background-color: blue;
}

.vitamins {
  padding: 1%;
  width: 25%;
}

.allVits {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.oneVit:hover,
.foodin:hover {
  background-color: #7c9b8b;
  color: white;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: #7c9b8b;
}

.oneVit {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 2%;
}

.circle {
  background-color: #7c9b8b;
  height: 5vw;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.comps {
  height: 100%;
}

.amounts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 200%;
}

.bg-green {
  background-color: #7c9b8b;
}
